.menus1 {
    height: 60px;
    background-color: #EEEEEE;
}

.menus-imga{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 20px;
}
.menus-zitijia{
    font-size: 12px;
    color: grey;
    position: absolute;
    top: 33px;
    left: 20px;
}


.menus2 {
    height: 60px;
    background-color: #EEEEEE;
}


.menus{
    height: 60px;
    background-color: #EEEEEE;

    /***************************/
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.click{
    height: 50px;
    flex: 1;
    background-size: 25px;
    font-size: 12px;
    align-items:flex-end;
    color: grey;
    position: relative;
}
.single{
    height: 50px;
    flex: 1;
    background-size: 25px;
    font-size: 12px;
    align-items:flex-end;
    color: grey;
    position: relative;
}


.al-center1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#menus-area{
    height: 60px;
    display: flex;
    justify-content: space-between;

}
.menusp{

}
.menus-area{
    height: 60px;
    display: flex;
    justify-content: space-between;

}
#menus-left{
    /*width:20%;*/
    flex: 1;
    /*height: 40px;*/

}
#menus-centerl{
    flex: 1;
    /*width:20%;*/
}
#menus-centerr{
    flex: 1;
    width:20%;
}
#menus-rightt{
    flex: 1;
    /*width:20%;*/
}
#menus-rightr{
    flex: 1;
    /*width:20%;*/
}





#menus-leftt{
    height: 35px;
}
#menus-centerlt{
    /*flex: 1;*/
    height: 35px;
}
menus-centerrt{
    /*flex: 1;*/
    height: 50px;
}
#menus-rightlt{
    /*flex: 1;*/
    height: 35px;
}
#menus-rightrt{
    /*flex: 1;*/
    height: 35px;
}
/*****************/
/*.menu {*/
    /*height: 50px;*/
    /*flex: 1;*/

    /*background-size: 20px;*/
    /*background: no-repeat center;*/
/*}*/
/*****************/
.menus-img{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    /*flex: 1;*/

    /*background-size: 20px;*/
    /*background: no-repeat center*/
}
.menus-ziti{
    flex: 1;
    text-align: center;
    font-family: 微软雅黑;
    color: grey;
    font-size: 12px;
}
#menus-img1{
    background-image: url(../img/支付宝.svg);
}
#menus-img2{
    background-image: url(../img/财富.svg);
}
#menus-img2:hover{
    background-image: url(../img/财富p.svg);
}
#menus-img3{
    background-image: url(../img/口碑.svg);
}

#menus-img3:hover{
    background-image: url(../img/口碑p.svg);
}

#menus-img4{
    background-image: url(../img/朋友.svg);
}
#menus-img4:hover{
    background-image: url(../img/朋友p.svg);
}
#menus-img5{
    background-image: url(../img/我的.svg);
}
#menus-img5:hover{
    background-image: url(../img/我的p.svg);
}
.click1{
    height: 50px;
    flex: 20;
    background-size: 25px;
    font-size: 12px;
    align-items:flex-end;
}